<div class="small-modal">
    <div class="modal-header">
        <h1 mat-dialog-title>
            {{ tipoAcao === 'PLANO' ? 'Alterar plano' : (tipoAcao === 'SALDO' ? 'Alterar saldo' : 'Alterar limite') }}
          </h1>
    </div>
    
    <div mat-dialog-content>
      <form *ngIf="tipoAcao === 'PLANO'">
        <mat-form-field class="full-width">
          <mat-label>Selecione novo plano</mat-label>
          <mat-select [(ngModel)]="novoPlano">
            <mat-option value="PRE_PAGO">Pré-pago</mat-option>
            <mat-option value="POS_PAGO">Pós-pago</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
  
        <form *ngIf="tipoAcao === 'SALDO'">
          <mat-form-field class="full-width">
            <mat-label>Novo saldo</mat-label>
            <input matInput type="number" 
            [(ngModel)]="novoSaldo" 
            appOnlyNumbers 
            placeholder="Digite novo saldo">
          </mat-form-field>
        </form>

        <form *ngIf="tipoAcao === 'LIMITE'">
            <mat-form-field class="full-width">
              <mat-label>Novo limite</mat-label>
              <input matInput type="number" 
              [(ngModel)]="novoSaldo" 
              appOnlyNumbers 
              placeholder="Digite novo limite">
            </mat-form-field>
          </form>
    </div>
  
    <div class="modal-footer">
      <app-button mat-button buttonText="Cancelar" buttonType="secondary" mat-dialog-close></app-button>
      <app-button mat-raised-button buttonText="Confirmar" buttonType="primary"></app-button>
    </div>
  </div>
  