<app-menu>
    <form [formGroup]="messageForm">
        <h2>Envie sua mensagem:</h2>
        <app-primary-input
        formControlName="telefoneRemetente"
        inputName="telefoneRemetente" 
        label="Telefone remetente" 
        placeholder="telefoneRemetente" 
        [disabled]="true"
        ></app-primary-input>
        <app-primary-input
            formControlName="telefoneDestinatario"
            inputName="telefoneDestinatario"
            type="text"
            label="Telefone destinatário"
            placeholder="Insira o número do destinatário."
            [disabled]="messageForm.disabled"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>
        <app-primary-input
            formControlName="mensagem"
            inputName="mensagem"
            type="text"
            label="Mensagem"
            placeholder="Insira a mensagem a ser enviada."
            [disabled]="messageForm.disabled"
        >
            <img src="/assets/svg/email-icon.svg"/>
        </app-primary-input>

        <div class="input-wrapper">
            <label>Modo de envio</label>
            <div class="button-group">
              <app-button
                (click)="messageForm.get('tipoMensagem')?.setValue('SMS')" 
                buttonText="SMS"
                buttonType="secondary"
                class="mode-button" 
                [class.active]="modoEnvio === 'SMS'" 
                (click)="setModoEnvio('SMS')">
              </app-button>
              <app-button 
                (click)="messageForm.get('tipoMensagem')?.setValue('WHATSAPP')"
                buttonText="WhatsApp"
                buttonType="secondary"
                class="mode-button" 
                [class.active]="modoEnvio === 'WHATSAPP'" 
                (click)="setModoEnvio('WHATSAPP')">
              </app-button>
            </div>
          </div>          

        <app-button
        buttonText="Enviar mensagem"
        buttonType="primary"
        [disabled]="!messageForm.valid"
        (click)="submit()"
      ></app-button>
    </form>
</app-menu>